body {
    background-color: rgb(230, 230, 230);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#title {
    padding-top: 10px;
    padding-bottom: 10px;
}
#image {
    max-width: 100%;
    align-self: center;
    justify-self: center;
    display: block;
}

#img-caption {
    align-self: center;
    text-align: center;
}

#tribute-info {
    line-height: 2em;
    padding: 5% 10%;
}